<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div *ngIf="!!loader" class="loader-container">
                    <div class="loader">
                        <svg class="circular" viewBox="25 25 50 50">
                            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                        </svg>
                    </div>
                </div>
                <div class="card {{ (!!loader) ? 'hidden-md hidden-lg' : '' }}">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">compare_arrows</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Transfer Fund</h4>
                        <div class="row">
                            <div class="col-md-5 col-lg-5">
                                <div class="well well-white">
                                    <form class="form-horizontal" (ngSubmit)="doTransfer()">

                                        <div class="form-group  is-empty">
                                            <label class="control-label">Your Account No.</label>
                                            <input type="text" [disabled]="true" class="form-control" name="userAccountNo" [(ngModel)]="userAccountNo">
                                        </div>
                                        <div class="form-group  is-empty">
                                            <label class="control-label">Beneficiary Name</label>
                                            <input type="text" [disabled]="true" class="form-control" name="beneficiaryName" [(ngModel)]="beneficiaryName">
                                        </div>
                                        <div class="form-group  is-empty">
                                            <label class="control-label">Beneficiary Account No.</label>
                                            <input type="text" [disabled]="true" class="form-control" name="beneficiaryAccountNo" [(ngModel)]="beneficiaryAccountNo">
                                        </div>
                                        <div class="form-group  is-empty">
                                            <label class="control-label">Transfer Amount</label>
                                            <input type="text" [disabled]="!beneficiaryTransferLimit" class="form-control" name="transferAmount" (keyup)="validateTransferAmount()" [(ngModel)]="transferAmount">
                                        </div>
                                        <div class="form-group form-button">
                                            <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                                        </div>
                                    </form>
                                    <p *ngIf="!!msg" class="category text-center" style="color: red">
                                        {{msg}}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-7">
                                <div class="well well-white">
                                    <h4 class="card-title">Select Beneficiary Account</h4>
                                    <app-beneficiary-table
                                            [isSelectBtn]="true"
                                            (selectBeneficiary)="selectBeneficiary($event)"
                                            [isDeleteBtn]="false"
                                            (dataFetch)="dataFetch($event)">
                                    </app-beneficiary-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>