<ngx-datatable
        class="material"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="35"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [reorderable]="reorderable"
        [limit]="10">
    <ngx-datatable-column [flexGrow]="1" prop="benefeciaryUser.id" name="Account No"></ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="1" prop="benefeciaryUser.name" name="Name"></ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="1" prop="benefeciaryUser.bankDetails.branchName" name="Branch"></ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="1" prop="transferLimit" name="Transfer Limit"></ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="1" name="id">
        <ng-template let-column="column" ngx-datatable-header-template>
            Actions
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button *ngIf="!!isSelectBtn" class="btn btn-xs custom-btn-simple btn-info"
                    (click)="doSelectBeneficiary(row)">Select</button>
            <button *ngIf="!!isDeleteBtn"
                    matTooltip="Delete beneficiary"
                    [matTooltipPosition]="'below'"
                    class="btn btn-simple custom-btn-simple btn-danger"
                    (click)="deleteAlert(row)">
                <i class="material-icons">delete</i></button>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>