<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div *ngIf="!!loader" class="loader-container">
                    <div class="loader">
                        <svg class="circular" viewBox="25 25 50 50">
                            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                        </svg>
                    </div>
                </div>
                <div class="card {{ (!!loader) ? 'hidden-md hidden-lg' : '' }}">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">supervisor_account</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Manage Beneficiary</h4>
                        <app-beneficiary-table
                                [isSelectBtn]="false"
                                [isDeleteBtn]="true"
                                (dataFetch)="dataFetch($event)">
                        </app-beneficiary-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>