.ngx-datatable{
  .datatable-header{
    border-bottom: 1px solid #f1f1f1;
  }
  .datatable-body-cell{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
  }
  .datatable-header-cell{
    text-align: center;
    height: 30px!important;
    font-weight: 600;
  }

  .datatable-body{
    .datatable-row-wrapper{
      border-bottom: 1px solid #f1f1f1;
    }
  }

}