<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="blue">
                        <i class="material-icons">account_box</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Account No.</p>
                        <h5 class="card-title">{{user.id}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">account_balance</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Branch</p>
                        <h5 class="card-title">{{user.bankDetails.branchName}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons">account_balance_wallet</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Balance</p>
                        <h5 class="card-title">{{user.balance | currency:'INR':true:'1.0'}}</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">compare_arrows</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">Transaction History</h4>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <app-transaction-table [user]="user"></app-transaction-table>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
