<ngx-datatable
        class="material"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columns]="columns"
        [columnMode]="'flex'"
        [headerHeight]="35"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [reorderable]="reorderable"
        [limit]="10">
            <ngx-datatable-column [flexGrow]="4" prop="date" name="Date"></ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="4" name="id">
                <ng-template let-column="column" ngx-datatable-header-template>
                Details
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="row">{{row.transactionType}}</div>
                    <div class="row"><span style="min-width: 10px">Account No:</span>{{row.beneficiaryAccount.id}}</div>
                    <div class="row"><span style="min-width: 10px">Name:</span>{{row.beneficiaryAccount.name}}</div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="1" prop="debitedAmount" name="Debit (₹)"></ngx-datatable-column>
            <ngx-datatable-column [flexGrow]="1" prop="creditedAmount" name="Credit (₹)"></ngx-datatable-column>
</ngx-datatable>